.BingoCard {
  width: 320px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 35px,
    rgba(255, 255, 255, 0.05) 0px 5px 30px;

  &Header {
    border: none !important;
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }
  &Body {
    padding: 0 !important;
    background: rgba(255, 255, 255, 0.8);

    &Column {
      display: flex;
      align-items: center;
      justify-content: center;
      border: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color) !important;
      width: 20%;
      height: 60px;
      font-size: 20px;
      background-color: lightgray;
      cursor: pointer;
      position: relative;

      &Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &Selected {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: gray;
          opacity: 0.8;
        }
      }
      &Bingo {
        background-color: #7b17c5;
        &::after {
          display: none;
        }
      }
    }
  }
}

.KeepCardCheckbox {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #ffffff;
}
