.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &.show {
    z-index: 999;
  }
}

.gif {
  position: relative;
  width: 300px;
  &Show {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }

  &Hide {
    opacity: 0;
    transition: opacity 0 ease-in-out;
  }
}
